{"http_interactions":[{"request":{"method":"get","uri":"https://api.stagingeb.com/v1/properties/EB-B5515","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Authorization":["l7u502p8v46ba3ppgvj5y2aad50lb9"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"e1abf51978b928878620016fa4791fa4\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"public_id\":\"EB-B5515\",\"title\":\"Casa en Venta en Sierra Alta 9° Sector Carretera Nacional\",\"description\":\"Hermosa residencia en esquina con acabados de lujo, casa inteligente con sistema automatizado, cuenta con: - 3 niveles con Roof Garden - 5 y medio baños - cochera triple - 5 recámaras ( 1 completa en planta baja) - cocina Royal Kitchen en madera de encino\",\"bedrooms\":5,\"bathrooms\":5,\"half_bathrooms\":1,\"parking_spaces\":3,\"lot_size\":425.0,\"construction_size\":1.0,\"lot_length\":0.0,\"lot_width\":0.0,\"floors\":null,\"floor\":null,\"age\":null,\"internal_id\":\"56061416\",\"expenses\":null,\"location\":{\"name\":\"Sierra Alta 9o Sector, Monterrey, Nuevo León\",\"latitude\":25.5765986,\"longitude\":-100.2647502,\"street\":null,\"postal_code\":null,\"show_exact_location\":true,\"hide_exact_location\":false},\"property_type\":\"Casa\",\"created_at\":\"2019-04-17T18:34:14-05:00\",\"published_at\":\"2021-12-16T16:02:55-06:00\",\"operations\":[{\"type\":\"sale\",\"amount\":18500000.0,\"currency\":\"MXN\",\"formatted_amount\":\"$18,500,000\",\"unit\":\"total\"}],\"property_files\":[],\"videos\":[],\"virtual_tour\":null,\"collaboration_notes\":null,\"public_url\":\"https://www.stagingeb.com/mx/inmueble/casa-en-venta-en-sierra-alta-9-sector-carretera-nacional\",\"tags\":[],\"show_prices\":true,\"property_images\":[{\"title\":null,\"url\":\"https://assets.stagingeb.com/property_images/25515/51355/EB-B5515.jpg?version=1555544548\"}],\"agent\":{\"id\":2829,\"name\":\"Alejandro Blanco Zivec\",\"full_name\":\"Alejandro Blanco Zivec\",\"mobile_phone\":\"5512123132\",\"profile_image_url\":\"https://assets.stagingeb.com/profile_images/2829/Alex__1___scaled_.jpg\",\"email\":\"ablanco+prueba5@easybroker.com\"},\"features\":[]}"}},"recorded_at":"Wed, 05 Jan 2022 02:19:07 GMT"}],"recorded_with":"VCR 6.0.0"}