{"http_interactions":[{"request":{"method":"get","uri":"https://api.stagingeb.com/v1/properties?limit=15&page=1&search%5Bstatuses%5D%5B0%5D=published","body":{"encoding":"US-ASCII","string":""},"headers":{"X-Authorization":["l7u502p8v46ba3ppgvj5y2aad50lb9"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"07a3b2d847a1ff6d6330951eed3cd03b\""]},"body":{"encoding":"ASCII-8BIT","string":"{\"pagination\":{\"limit\":15,\"page\":1,\"total\":410,\"next_page\":\"https://api.stagingeb.com/v1/properties?limit=15\\u0026page=2\\u0026search%5Bstatuses%5D%5B%5D=published\"},\"content\":[{\"public_id\":\"EB-C0118\",\"title\":\"Hermosa casa en Tijuana para ML\",\"title_image_full\":null,\"title_image_thumb\":null,\"location\":\"18 de Marzo, Tijuana, Baja California\",\"operations\":[{\"type\":\"sale\",\"amount\":3242325.0,\"currency\":\"MXN\",\"formatted_amount\":\"$3,242,325\",\"unit\":\"total\"},{\"type\":\"rental\",\"amount\":2345.0,\"currency\":\"MXN\",\"formatted_amount\":\"$2,345\",\"unit\":\"total\"},{\"type\":\"temporary_rental\",\"amount\":5234.0,\"currency\":\"MXN\",\"formatted_amount\":\"$5,234 por semana\",\"period\":\"weekly\"}],\"bedrooms\":1,\"bathrooms\":3,\"parking_spaces\":4,\"property_type\":\"Casa\",\"lot_size\":250.0,\"construction_size\":400.0,\"updated_at\":\"2021-12-16T16:02:54-06:00\",\"agent\":\"Andrea Fernández\",\"show_prices\":true},{\"public_id\":\"EB-C0119\",\"title\":\"Hermosa casa en Tijuana\",\"title_image_full\":null,\"title_image_thumb\":null,\"location\":\"5 y 8 Hectáreas, Tijuana, Baja California\",\"operations\":[{\"type\":\"sale\",\"amount\":2504252.0,\"currency\":\"MXN\",\"formatted_amount\":\"$2,504,252\",\"unit\":\"total\"},{\"type\":\"rental\",\"amount\":33253.0,\"currency\":\"MXN\",\"formatted_amount\":\"$33,253\",\"unit\":\"total\"},{\"type\":\"temporary_rental\",\"amount\":52344.0,\"currency\":\"MXN\[...]
[...]
