{"http_interactions":[{"request":{"method":"post","uri":"https://api.stagingeb.com/v1/contact_requests","body":{"encoding":"UTF-8","string":"{\"name\":\"John Smith\",\"phone\":\"5559090909\",\"email\":\"mail@example.com\",\"property_id\":\"EB-B5515\",\"message\":\"I'm interested in this property. Please contact me.\",\"source\":\"mydomain.com\"}"},"headers":{"Content-Type":["application/json"], "X-Authorization":["l7u502p8v46ba3ppgvj5y2aad50lb9"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"7fc3f09bcad46fb34713ee8ba90cb3ad\""]},"body":{"encoding":"UTF-8","string":"{\"status\":\"successful\"}"}},"recorded_at":"Mon, 10 Jan 2022 15:08:24 GMT"}],"recorded_with":"VCR 6.0.0"}